@inherits LayoutComponentBase

<HeadContent>
    <PageTitle>Covert from ARM to bicep online </PageTitle>
    <meta name="description" content="Convert Azure resource manager to Bicep online">
</HeadContent>

<div class="page">
 
    <main>  

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
