@using ArmToBicepOnlineConverter.Services
@inject DecompileArm service
<EditForm Model="@input" OnValidSubmit="@HandleValidSubmit">

    <h3>ARM input</h3>
    <InputTextArea @bind-Value="input" style="width: 100%; height: 40vh" /> 
    <button type="submit" class="btn btn-primary">
        @if (isWorking)
        {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>

        }
        else
        {
            <span>Convert to Bicep</span>

        }
    </button>

    <h3 style="margin-top: 3rem;">Bicep output</h3>
    <pre  style="border: 1px #ccc double; width:100%; height: 40vh; padding: 1rem;">@output </pre>
</EditForm>

@code {
    private string input = Constants.ExampleInput;

    private string output = Constants.ExampleOutput;

    private bool isWorking = false;

    private async void HandleValidSubmit()
    {
        isWorking = true;
        await Task.Delay(1);
        await InvokeAsync(()=> StateHasChanged()); 

        this.output = await service.Decompile(input);
        isWorking = false; 
        await InvokeAsync(()=> StateHasChanged()); 
   
    }
}