@page "/"
@using ArmToBicepOnlineConverter.Components

<PageTitle>Azure resource manager converter to Bicep</PageTitle>

<h1>Azure resource manager converter to Bicep</h1>


<Transpile />


<div>no rights can be derived from this website</div>